<%= render "users/user_thumb", user: @user %>
<% @user.posts.each_with_index do |post, i| %>
    <%= render "post_thumb", post: post %>
    <div class="comment-peek">
        <% post.recent_comments.each do |comment| %>
            <%= render "comment_thumb", {comment: comment.truncated_comment, commenter: comment.user.name} %>
        <% end %>
    </div>
<% end %>
<%= button_to "Pagination" %>
