/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Crafty Girls', cursive;
}

h2,
h3,
h4,
h5,
h2 a,
h3 a {
  margin: 5px 0;
  color: rgb(166, 35, 81);
}

.flash {
  padding: 10px;
  margin-bottom: 15px;
}

.notice {
  background-color: #d3f5b8;
  color: #145214;
}

.alert {
  background-color: #ffcccb;
  color: #8b0000;
}

.users-container {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.users-container .action-buttons {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-box {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.user-box a {
  text-decoration: none;
}

.user-box > img,
.photo-view > img {
  width: 85px;
  height: 85px;
  border: 5px solid rgb(166, 35, 81);
  border-radius: 10px;
}

.user-box > div,
.single-post-box {
  padding: 10px;
  width: 100%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.post-stats > span,
.user-box > div > span {
  align-self: flex-end;
  font-weight: bold;
  font-size: 13px;
}

.bio-box,
.post-box,
.comment-peek {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.post-stats {
  align-self: end;
  display: flex;
  gap: 10px;
}

.comment-peek .comment-content span {
  font-weight: bold;
  font-size: 13px;
}

.comment-peek .comment-content span:first-child {
  font-size: 15px;
  color: rgb(166, 35, 81);
}

.single-post-box {
  padding: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.single-post-box .post-header {
  display: flex;
  justify-content: space-between;
}

.post-form,
.auth-form,
.comment-form {
  padding: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.auth-form .auth-links {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.auth-form .auth-links a {
  text-decoration: underline;
  color: rgb(166, 35, 81);
  font-weight: bold;
  font-size: 13px;
}

.auth-form .photo-upload {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.post-form label,
.auth-form label {
  font-weight: bold;
  margin-bottom: 3px;
}

.post-form input[type=text],
.auth-form input[type=text],
.auth-form input[type=email],
.auth-form input[type=password],
.post-form textarea,
.auth-form textarea,
.comment-form textarea {
  width: 95%;
  font-family: 'Crafty Girls', cursive;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}

.post-form input[type=submit] {
  font-family: 'Crafty Girls', cursive;
  font-weight: bold;
  border: 2px solid black;
  background-color: rgb(166, 35, 81);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.auth-form input[type=file] {
  display: none;
}

.auth-form input[type=submit] {
  width: 95%;
  font-family: 'Crafty Girls', cursive;
  font-weight: bold;
  border: 2px solid black;
  background-color: rgb(166, 35, 81);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.comment-form input[type=submit],
.like-button,
.auth-form .custom-file-upload {
  text-decoration: none;
  font-family: 'Crafty Girls', cursive;
  font-weight: bold;
  border: 2px solid black;
  background-color: rgb(166, 35, 81);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  width: max-content;
}

.post-form textarea:focus {
  border: 3px solid rgb(166, 35, 81) !important;
  outline: none;
}

.comment-form textarea:focus {
  border: 3px solid rgb(166, 35, 81) !important;
  outline: none;
}

.post-form input[type=text]:focus {
  border: 3px solid rgb(166, 35, 81) !important;
  outline: none;
}
