/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 5px 0;
}

.users-container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.user-box {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.user-box a {
    text-decoration: none;
    color: black;
}

.user-box > img {
    width: 77px;
    height: 77px;
    border: 1px solid black;
}

.user-box > div {
    padding: 10px;
    width: 100%;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.user-box > div > span {
    align-self: flex-end;
}
